.heroBox {
  border: solid 1px black;
}
.welcome {
  color: white;
  text-align: center;
}
.space{
  margin-top: 30px;
}
.avatar {
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  
  border-radius: 50%;
}
.about {
  color: white;
  float: right;
}
.aboutText {
  color: white;
  text-align: center;
}
.AboutBox {
  margin-bottom: -50px;
  text-align: center;
  justify-content: center;
}
.aboutImg {
  text-align: center;
  justify-content: center;

  
  
}
